.hover-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
/* Dropdown CSS for smooth transitions */
/* Header.css */
/* Custom CSS for smooth transition */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 3s ease;
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}


/* visited link */


/* mouse over link */


/* selected link */




.image-card{
  background-color: rgba(0, 0, 0, 0.4); 
overflow: hidden;
}
.card1{
  mix-blend-mode: multiply;
}
.nav-link{
  color: #231f20;
 
  
}
.nav-link:hover{
  color: #fe5722;
}





  .carousel-caption {
    bottom: 35%;
  }
  .carousel-caption h5 {
    font-size: 2rem;
    font-weight: 700;
  }
  .carousel-caption p {
    font-size: 1.0rem;
    font-weight: 400;
  }
  .carousel-caption .btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    .carousel-caption h5 {
      font-size: 1.5rem;
    }
    .carousel-caption p {
      font-size: 1rem;
    }
    .carousel-caption .btn {
      padding: 8px 16px;
      font-size: 0.9rem;
    }

  }
  .nav-link.active {
    color: #fe5722 !important; /* Change to your desired active color */
  }

