.hover-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
/* Dropdown CSS for smooth transitions */


.nav-link:hover{
  color: #fe5722;
 
  
}

.image-card{
  background-color: rgba(0, 0, 0, 0.5); 
overflow: hidden;
}
.card1{
  mix-blend-mode: multiply;
}
.nav-link{
  color: #231f20;
 
  
}

